<div ng-controller="blogsController" class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3">


    <form ng-submit="publish(); refresh()">
        <h1>Auteur : {{ username }}</h1>
        <div class="form-group">
            <label for="inputText">Texte</label>
            <textarea rows="5" class="form-control" ng-model="text" id="inputText"></textarea>
        </div>
        <div class="text-center" style="margin-bottom:1em">
            <input type="submit" class="btn btn-success btn-md" value="Publier" />
        </div>
    </form>
    <form ng-submit="searchBlog(); search(true)" class="input-group">
        <input class="form-control" type="text" ng-model="searchText" placeholder="Rechercher" />
        <span class="input-group-btn">
                         <button type="button" ng-click="search(false)" class="btn btn-primary">Effacer</button>
                    </span>
    </form>

    <div class="text-center" ng-init="isSearching = false">
        <ul class="pagination" ng-repeat="page in pageList" ng-if="!isSearching">
            <li ng-click="updateCurrentPageIndex(page-1); getList() "><a href="">{{page}}</a></li>
        </ul>
    </div>
    <div ng-repeat="blog in blogs | orderBy:'-createdAt'">


        <div class="panel panel-primary">

            <div class="panel-heading">
                <h3 class="panel-title"> {{blog.author.username}} a ecrit :</h3>
            </div>

            <div class="panel-body" ng-if="!blog.isEditing">
                {{ blog.text }}
            </div>
            <form ng-submit="save(blog)">
                <textarea rows="5" class="col-lg-12" type="text" class="form-control custom-control" ng-if="blog.isEditing" ng-model="blog.text_updated"
                    ng-value="blog.text" /></textarea>
            </form>
            <div class="panel-footer">
                <span class="pull-left">le {{ blog.createdAt | date:'dd/MM' }} à {{ blog.createdAt | date:'HH:mm' }}</span></br>
                <span class="pull-left" ng-if="blog.updatedAt">modifié le {{ blog.updatedAt | date:'dd/MM' }} à {{ blog.updatedAt | date:'HH:mm' }}</span>

                <span class="pull-right">
                    <button type="button" ui-sref="blogDetails({blogId:blog._id})" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-comment"> </span> Commentaires </button>
                    <button ng-if="!blog.isEditing" type="button" ng-click="edit(blog)" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-edit"></span> Editer</button>
                    <button ng-if="blog.isEditing" type="button" ng-click="save(blog);edit(blog)" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-save"></span> Enregistrer</button>
                    <button type="button" ng-click="delete(blog._id)" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash" ng-clik="delete()"></span>  Supprimer</button>
                </span>
                <span class="clearfix"></span>
            </div>
        </div>
    </div>
    <div class="text-center" ng-if="!isSearching">
        <ul class="pagination" ng-repeat="page in pageList">
            <li ng-click="updateCurrentPageIndex(page-1); getList() "><a href="">{{page}}</a></li>
        </ul>
    </div>

</div>